<div
  x-show="open === 'hamburger' && activeIndex == {{ loop.index }}"
  x-cloak
  class="absolute z-40 top-0 left-0 flex flex-col justify-between w-full h-[calc(100dvh-4.125rem-var(--wp-admin--admin-bar--height,0px))] bg-white"
>
  <div class="fluid-grid overflow-y-auto">
    <div class="span-content">
      <button
        @click="activeIndex = false"
        class="w-full py-5"
      >
        <div class="flex items-center gap-x-4">
          <div class="-scale-x-100">
            {% include "svgs/caret-right.twig" %}
          </div>
          <span class="text-h4">{{ item.title }}</span>
        </div>
      </button>
      {% if item.solutions and item.children %}
        <ul class="border-b border-b-neutral-400">
          {% for child in item.children %}
            <li class="">
              <button
                @click="solution = '{{ child.title|lower }}'"
                class="flex items-center justify-between w-full py-5 border-t border-t-neutral-400"
              >
                {{ ResponsiveImage(child.tab_image, {
                  class: 'h-19',
                  sizes: '',
                }) }}
                <div class="">
                  {% include "svgs/caret-right.twig" %}
                </div>
              </button>
              {% include "components/header/header-mobile-submenu-solutions.twig" %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="">
          {% if item.panel_content.large_links %}
            <ul class="border-b border-b-neutral-400">
              {% for large_link in item.panel_content.large_links %}
                <li class="border-t border-t-neutral-400">
                  <a
                    href="{{ large_link.link.link }}"
                    class="block py-5 text-h5"
                  >{{ large_link.link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if item.children %}
            <ul
              class="
                {% if not item.panel_content.large_links %}
                  border-t border-t-neutral-400
                {% endif %}
              "
            >
              {% for child in item.children %}
                <li class="border-b border-b-neutral-400">
                  <a
                    href="{{ child.link }}"
                    class="block py-5 text-b1"
                  >{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  {% include "components/header/mobile-button-link.twig" %}
</div>
