<header
  x-data="{
    open: false,
    activeIndex: false,
    solution: false,
  }"
  class="relative z-50 lg:hidden"
>
  {# Bar #}
  <div
    class="fluid-grid h-16.5 py-4 border-b"
  >
    <div class="span-content flex justify-between">
      <a
        href="/"
        class="flex w-42 h-8.5"
      >
        {% include "svgs/adeptag.twig" %}
      </a>
      <div class="flex items-center gap-x-4">
        <a
          href="tel:{{ global.header.phone_number }}"
          class="flex size-6.25 p-[3%]"
        >
          {% include "svgs/phone.twig" %}
        </a>
        <button
          @click="open === 'search' ? open = false : open = 'search'"
          :aria-expanded="open == 'search'"
          class="relative flex size-6.25"
        >
          <div
            :class="open !== 'search' && 'opacity-100!'"
            class="absolute top-1/2 left-1/2 -translate-1/2 size-3/4 opacity-0 transition-opacity"
          >
            {% include "svgs/search.twig" %}
          </div>
          <div
            :class="open === 'search' && 'opacity-100!'"
            class="absolute top-1/2 left-1/2 -translate-1/2 size-full opacity-0 transition-opacity"
          >
            <div class="relative size-full">
              <div
                class="absolute top-1/2 left-1/2 -translate-1/2 rotate-45 w-3/4 h-0.75 rounded-full bg-current origin-center transition-transform"
              ></div>
              <div
                class="absolute top-1/2 left-1/2 -translate-1/2 -rotate-45 w-3/4 h-0.75 rounded-full bg-current origin-center transition-transform"
              ></div>
            </div>
          </div>
        </button>
        <button
          @click="open === 'hamburger' ? open = false : open = 'hamburger'"
          :aria-expanded="open == 'hamburger'"
          class="relative flex size-6.25"
        >
          <div
            :class="open == 'hamburger' && 'rotate-45 -translate-y-1/2!'"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[calc(-0.25rem-50%)] w-3/4 h-0.75 rounded-full bg-current origin-center transition-transform"
          ></div>
          <div
            :class="open == 'hamburger' && '-rotate-45  -translate-y-1/2!'"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[calc(0.25rem-50%)] w-3/4 h-0.75 rounded-full bg-current origin-center transition-transform"
          ></div>
        </button>
      </div>
    </div>
  </div>

  {# Nav Panel #}
  <div
    x-show="open === 'hamburger'"
    x-trap.noscroll="open === 'hamburger'"
    x-cloak
    {# x-collapse #}
    class="absolute z-30 top-16 left-0 flex flex-col justify-between w-full h-[calc(100dvh-4.125rem-var(--wp-admin--admin-bar--height,0px))] bg-white"
  >
    <ul class="overflow-y-auto">
      {% for item in primary_menu.items %}
        <li class="">
          {% if item.children or item.panel_content.large_links %}
            <button
              @click="activeIndex = {{ loop.index }}"
              class="fluid-grid w-full"
            >
              <div class="span-content flex items-center justify-between py-5 border-b border-b-neutral-400">
                <span class="text-h5">{{ item.title }}</span>
                <div class="">
                  {% include "svgs/caret-right.twig" %}
                </div>
              </div>
            </button>
            {% include "components/header/header-mobile-submenu.twig" %}
          {% else %}
            <a
              href="{{ item.link }}"
              class="fluid-grid w-full"
            >
              <div class="span-content py-5 border-b border-b-neutral-400">
                <span class="text-h5">{{ item.title }}</span>
              </div>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="py-5 border-t border-t-blue-dark">
      <div class="fluid-grid">
        <div class="span-content">
          <a
            href="#"
            class="flex justify-center text-b2 py-4 px-8 rounded-full bg-white text-black border-2 border-blue-dark transition-colors hover:bg-blue-dark hover:text-white"
          >Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  {# Search Panel #}
  <div
    x-show="open === 'search'"
    x-trap.noscroll="open === 'search'"
    {# x-collapse #}
    x-cloak
    class="fluid-grid absolute z-30 top-16.5 left-0 w-full h-[calc(100dvh-4.125rem)] bg-white"
  >
    <div class="span-content">

    </div>
  </div>
</header>
