<header
  x-data="{ activeIndex: false }"
  @click.outside="activeIndex = false"
  :class="{
    'fixed! top-(--wp-admin--admin-bar--height,0px)! z-50 bg-white!': fixedNav,
  }"
  class="
    hidden lg:fluid-grid lg:items-center lg:h-16 lg:w-full transition-colors
    {% if post.navigation_color == 'transparent' %}
      lg:absolute lg:z-50 top-(--wp-admin--admin-bar--height,0px) left-0 bg-transparent border-b border-b-white
    {% endif %}
  "
>
  <div class="span-content flex items-center">
    <a
      href="/"
      :class="{ 'text-blue-dark!': fixedNav }"
      class="
        flex w-42 h-8.5
        {% if post.navigation_color == 'transparent' %}
          text-white
        {% else %}
          text-blue-dark
        {% endif %}
      "
    >
      {% include "svgs/adeptag.twig" %}
    </a>
    <ul class="flex items-center gap-x-6 mx-6">
      {% for item in primary_menu.items %}
        <li class="">
          {% if item.children or item.panel_content.large_links %}
            <button
              @click="activeIndex == {{ loop.index }} ? activeIndex = false : activeIndex = {{ loop.index }}"
              :class="{
                'text-blue-dark!': fixedNav,
                'after:scale-x-100!': activeIndex == {{ loop.index }},
              }"
              class="
                relative text-b2 whitespace-nowrap transition-colors
                {% if post.navigation_color == 'transparent' %}
                  text-white
                {% else %}
                  text-blue-dark
                {% endif %}
                after:absolute after:left-0 after:top-[calc(100%-0.125rem)] after:w-full after:h-0.5 after:bg-current after:scale-x-0 after:transition-transform hover:after:scale-x-50
              "
            >{{ item.title }}</button>
            {% if item.solutions %}
              {% include "components/header/header-desktop-solutions-panel.twig" %}
            {% else %}
              {% include "components/header/header-desktop-panel.twig" with { ...item.panel_content } %}
            {% endif %}
          {% else %}
            <a
              href="{{ item.link }}"
              :class="{
                'text-blue-dark!': fixedNav,
                'after:scale-x-100!': activeIndex == {{ loop.index }},
              }"
              class="
                relative text-b2 whitespace-nowrap
                {% if post.navigation_color == 'transparent' %}
                  text-white
                {% else %}
                  text-blue-dark
                {% endif %}
                after:absolute after:left-0 after:top-[calc(100%-0.125rem)] after:w-full after:h-0.5 after:bg-current after:scale-x-0 after:transition-transform hover:after:scale-x-50
              "
            >{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="flex gap-x-4 items-center ml-auto">
      {% if global.header.phone_number %}
        <div
          :class="{ 'text-blue-dark!': fixedNav }"
          class="
            hidden xl:inline-block whitespace-nowrap text-b2 transition-colors
            {% if post.navigation_color == 'transparent' %}
              text-white
            {% else %}
              text-blue-dark
            {% endif %}
          "
        >{{ global.header.phone_number }}</div>
      {% endif %}
      <button
        @click="open === 'search' ? open = false : open = 'search'"
        :aria-expanded="open == 'search'"
        :class="{ 'text-blue-dark!': fixedNav }"
        class="
          relative flex size-6.25 transition-colors
          {% if post.navigation_color == 'transparent' %}
            text-white
          {% else %}
            text-blue-dark
          {% endif %}
        "
      >
        <div
          :class="open === 'search' && 'opacity-0'"
          class="absolute top-1/2 left-1/2 -translate-1/2 size-3/4 transition-opacity"
        >
          {% include "svgs/search.twig" %}
        </div>
        {# search panel #}
      </button>
      {% if global.header.button_link %}
        <a
          href="{{ global.header.button_link.url }}"
          target="{{ global.header.button_link.target | default('_self') }}"
          :class="{ 'text-blue-dark! border-blue-dark! hover:bg-blue-dark! hover:text-white!': fixedNav }"
          class="
            h-8.5 inline-flex items-center border-2 rounded-full px-4.5 transition-colors
            {% if post.navigation_color == 'transparent' %}
              border-white text-white
            {% else %}
              border-blue-dark hover:bg-blue-dark hover:text-white
            {% endif %}
          "
        >
          <span class="text-b2 text-current whitespace-nowrap">{{ global.header.button_link.title }}</span>
        </a>
      {% endif %}
    </div>
</header>
