<!DOCTYPE html>
<html
  {{ function('language_attributes') }}
  class="scroll-smooth"
>

<head>
  <meta charset="{{ function('bloginfo', 'charset') }}">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  <link rel="preload" href="https://use.typekit.net/cxo7uul.css" as="style">
  <link rel="stylesheet" href="https://use.typekit.net/cxo7uul.css">

  {{ function('wp_head') }}
</head>

<body
  x-data="{ fixedNav: false }"
  class="{{ body_class }}"
  x-init="fixedNav = window.scrollY > 867"
  @scroll.window.throttle.50ms="fixedNav = window.scrollY > 400"
  {% if post.navigation_color == 'white' %}
    :class="{ 'pt-16': fixedNav }"
  {% endif %}
>
  {{ function('wp_body_open') }}
  <div>
    <a
      class="absolute left-0 z-50 bg-white text-blue-dark border-2 border-blue-dark p-3 m-3 -translate-48 focus:translate-0"
      href="#main"
    >Skip To Main Content</a>
    <a
      class="absolute left-0 z-50 bg-white text-blue-dark border-2 border-blue-dark p-3 m-3 -translate-y-48 focus:translate-0"
      href="#footer"
    >Skip to Footer</a>
  </div>

  {% include "components/header.twig" %}

  <main id="main">
    {% block main %}{% endblock %}
  </main>

  {% include "components/footer.twig" %}

  {{ function('wp_footer') }}
</body>

</html>
