<section class="text-blue-dark py-12 lg:py-16">
  <div class="fluid-grid">
    <div class="span-content">
      <h2 class="text-h3">{{ heading }}</h2>
    </div>
    <div class="span-content mt-2">
      <p class="text-h5">{{ body }}</p>
    </div>
    <div class="span-content mt-10">
      <div class="w-full aspect-video rounded-md overflow-hidden">
        {% if type == 'video' %}
          <div x-data="plyr({ poster: '{{ get_image(image) }}' })">
            {{ video }}
          </div>
        {% elseif type == 'image' %}
          {{ ResponsiveImage(image, {
            class: 'w-full',
            sizes: '(min-width: 1408px) 1280px, 100vw',
          }) }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
