<section class="relative h-220 max-h-[calc(100dvh-var(--wp-admin--admin-bar--height,0px))]">
  {{ ResponsiveImage(background_image, {
    class: 'absolute top-0 left-0 size-full object-cover',
    sizes: '100vw',
  }) }}
  <div class="hidden lg:block absolute top-0 left-0 size-full z-10 bg-linear-to-r from-45% to-100% from-black to-black/0 opacity-60"></div>
  <div class="lg:hidden absolute top-0 left-0 size-full z-10 bg-linear-to-t from-55% to-100% from-black to-black/0 opacity-50"></div>
  <div class="fluid-grid absolute z-40 w-full left-0 bottom-0 pb-25 lg:pb-37.5">
    <div class="span-content text-white lg:col-end-[col-7]">
      <h1 class="text-h1">{{ heading|stars_span('underline decoration-green-light decoration-[3%] underline-offset-12') }}</h1>
      {% if body %}
        <p class="text-b2 mt-10">{{ body }}</p>
      {% endif %}
      {% for item in links %}
        <div class="mt-10">
          <a
            href="{{ item.link.url }}"
            class="inline-block bg-white text-black rounded-full px-12 py-3 text-b2 transition-colors hover:bg-gray-secondary"
          >{{ item.link.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
