<section
  class="
    {% if behind_card_color == 'green' %}
      bg-green-lime
    {% elseif behind_card_color == 'blue' %}
      bg-blue-dark
    {% elseif behind_card_color == 'gray' %}
      bg-gray-background
    {% endif %}
  "
>
  <div
    class="
      fluid-grid gap-y-9 pb-10 rounded-t-4xl lg:items-center
      {% if image_location == 'screen-edge' %}
        lg:pb-0
      {% else %}
        pt-10
      {% endif %}
      {% if background_color == 'gray' %}
      bg-gray-background
      {% else %}
      bg-white
      {% endif %}
    "
  >
    <div
      class="
        {% if image_location == 'screen-edge' %}
          span-full lg:self-stretch
        {% else %}
          span-content
        {% endif %}
        {% if image_side == 'right' %}
          lg:hidden
        {% elseif image_side == 'left' %}
          lg:col-end-[col-7] lg:pr-6
          {% if image_location == 'screen-edge' %}
            lg:col-start-[full-start]
          {% else %}
            lg:col-start-[content-start]
          {% endif %}
        {% endif %}
      "
    >
      {{ ResponsiveImage(image, {
        class:
          'w-full aspect-[4/5]'
          ~ ' ' ~
          (image_location  == 'screen-edge' ? 'object-contain lg:h-full' : 'object-cover rounded-4xl')
          ~ ' ' ~
          (image_location  == 'screen-edge' and image_side == 'right' ? 'object-top-right')
          ~ ' ' ~
          (image_location  == 'screen-edge' and image_side == 'left' ? 'object-top-left'),
        sizes: (image_location == 'screen-edge'
          ? '(min-width: 1024px) 50vw, 100vw'
          : '(min-width: 1024px) 42vw, (min-width: 1408px) 600px, 100vw'),
      }) }}
    </div>
    <div
      class="
        span-content text-blue-dark space-y-5 lg:space-y-8 lg:py-12
        {% if image_side == 'right' %}
          lg:col-start-[content-start] lg:col-end-[col-7]
        {% elseif image_side == 'left' %}
          lg:col-start-[col-7] lg:col-end-[content-end]
        {% endif %}
      "
    >
      <div class="">
        <div class="text-tag text-green-dark">{{ tag }}</div>
        <h2 class="text-h3 mt-2.5 text-balance">{{ heading }}</h2>
      </div>
      <div class="lg:w-4/5">
        <div class="text-subhead">{{ subhead }}</div>
        <div class="text-b2 mt-2.5">{{ body }}</div>
      </div>
      {% if list %}
        <ul class="space-y-2.5">
          {% for item in list %}
            <li class="flex gap-x-5">
              {% if item.icon %}
                <div class="size-7 -translate-y-0.5">
                  {{ ResponsiveImage(item.icon, {
                    class: 'size-full',
                    sizes: (image_location == 'screen-edge'
                    ? '(min-width: 1024px) 50vw, 100vw'
                    : '(min-width: 1024px) 42vw, (min-width: 1408px) 600px, 100vw'),
                  }) }}
                </div>
              {% endif %}
              <span class="text-b2">{{ item.text }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if links %}
        <div class="">
          {% for item in links %}
            {% if item.link %}
              {% include "partials/link.twig" with {
                ...item.link,
                class: 'button-primary',
              } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if image_side == 'right' %}
      <div
        class="
          hidden lg:block lg:col-start-[col-7] lg:pl-6
          {% if image_location == 'screen-edge' %}
            span-full lg:col-end-[full-end] lg:self-stretch
          {% else %}
            span-content lg:col-end-[content-end]
          {% endif %}
        "
      >
        {{ ResponsiveImage(image, {
          class:
            'w-full aspect-[4/5]'
            ~ ' ' ~
            (image_location  == 'screen-edge' ? 'object-contain lg:h-full' : 'object-cover rounded-4xl')
            ~ ' ' ~
            (image_location  == 'screen-edge' and image_side == 'right' ? 'object-top-right')
            ~ ' ' ~
            (image_location  == 'screen-edge' and image_side == 'left' ? 'object-top-left'),
          sizes: (image_location == 'screen-edge'
            ? '(min-width: 1024px) 50vw, 100vw'
            : '(min-width: 1024px) 42vw, (min-width: 1408px) 600px, 100vw'),
        }) }}
      </div>
    {% endif %}
  </div>
</section>
