<section
  class="
    py-20
    {% if background_color == 'green' %}
      bg-green-lime text-white
    {% elseif background_color == 'blue' %}
      bg-blue-dark text-white
    {% elseif background_color == 'gray' %}
      bg-gray-background text-blue-dark
    {% elseif background_color == 'white' %}
      text-blue-dark
    {% endif %}
  "
>
  {% if heading or body %}
    <div class="fluid-grid gap-y-10 mb-10 lg:mb-20">
      {% if heading %}
        <div class="span-content lg:col-start-[content-start] lg:col-end-[col-7]">
          <h2 class="text-h3">{{ heading }}</h2>
        </div>
      {% endif %}
      {% if body %}
        <div class="span-content lg:col-start-[col-7] lg:col-end-[content-end]">
          <p class="text-b1">{{ body }}</p>
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="fluid-grid">
    <div class="span-content grid grid-cols-subgrid gap-y-5">
      {% for card in cards %}
        <a
          href="{{ card.link.url }}"
          target="{{ card.link.target | default('_self') }}"
          class="group col-span-12 sm:col-span-10 sm:col-start-2 lg:col-span-4 h-125 lg:h-150 relative rounded-md overflow-hidden"
        >
          {% if card.background_image %}
            {{ ResponsiveImage(card.background_image, {
              class: 'absolute z-10 top-0 left-0 size-full object-cover',
              sizes: '',
            }) }}
          {% endif %}
          <div class="absolute z-30 inset-0 gradient-adeptag bg-linear-to-r bg-blend-screen opacity-0 transition-opacity group-hover:opacity-50"></div>
          <div class="absolute z-20 top-0 left-0 size-full bg-black opacity-50"></div>
          <div class="relative z-40 h-full flex flex-col justify-end p-7 text-white text-center">
            <div class="absolute top-0 left-0 size-full px-6 flex flex-col justify-center">
              <h3 class="text-h3">{{ card.heading }}</h3>
              {% if card.body %}
                <p class="text-b2 mt-2.5">{{ card.body }}</p>
              {% endif %}
              {% if card.link %}
                <div class="mt-7">
                  <div class="inline-flex justify-center py-4 px-8 w-full rounded-full transition-colors bg-white group-hover:bg-gray-secondary">
                    <span class="text-black text-b2">{{ card.link.title }}</span>
                  </div>
                </div>
              {% endif %}
            </div>
            {% if card.footer_text %}
              <div class="text-b3 pt-3 border-t border-t-white">{{ card.footer_text }}</div>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
