<section
  class="
    py-16
    {% if background_color == 'gray' %}
      bg-gray-background
    {% endif %}
  "
>
  <div class="fluid-grid gap-y-6 lg:gap-y-16">
    <div class="span-content lg:col-start-[content-start] lg:col-end-[col-6]">
      <h2 class="text-h3 text-blue-dark">{{ heading }}</h2>
    </div>
    <div class="span-content space-y-6 lg:col-start-[col-7] lg:col-end-[content-end]">
      {% if body %}
        <p class="text-b1 text-blue-dark">{{ body }}</p>
      {% endif %}
      {% if link %}
        <div class="hidden lg:block">
          {% include "partials/link.twig" with {
            ...link,
            class: 'button-primary',
          } %}
        </div>
      {% endif %}
    </div>
    <div class="span-content grid grid-cols-subgrid gap-y-8 lg:gap-y-20">
      {# {% for product in fn('Timber::get_posts', products) %} #}
      {% for item in grid %}
        <a
          href="{{ item.link.url }}"
          target="{{ item.link.target | default('_self') }}"
          class="group col-span-12 space-y-2.5 sm:col-span-6 lg:col-span-4 lg:space-y-4"
        >
          <div
            class="
              rounded-md overflow-hidden transition-all group-hover:rounded-4xl
              {{ background_color == 'gray' ? 'bg-white' : 'bg-gray-background' }}
            "
          >
            {{ ResponsiveImage(item.image, {
              class: 'mix-blend-multiply',
              sizes: '',
            }) }}
          </div>
          <h3 class="text-b2 font-bold text-blue-dark">{{ item.link.title }}</h3>
        </a>
      {% endfor %}
    </div>
    {% if link %}
      <div class="span-content lg:hidden">
        {% include "partials/link.twig" with {
          ...link,
          class: 'button-primary',
        } %}
      </div>
    {% endif %}
  </div>
</section>
