<section class="fluid-grid py-8">
  {% if breadcrumbs %}
    <div class="span-content">
      {% include "components/product-hero/product-hero-breadcrumbs.twig" %}
    </div>
  {% endif %}
  <div class="span-content mb-4 lg:hidden">
    <div class="text-tag text-green-dark">{{ top_category.tag }}</div>
    <h1 class="text-h5 text-blue-dark mt-1">{{ heading }}</h1>
  </div>
  <div
    class="
      span-full lg:h-150 lg:col-start-[content-start] lg:col-end-[col-7]
      {% if slides | length > 0 %}
        grid grid-cols-subgrid
      {% endif %}
    "
    {% if slides | length > 0 %}
      x-data="productHeroCarousel"
    {% endif %}
  >
    {% if slides | length > 0 %}
      {{ include('components/product-hero/product-hero-carousel.twig') }}
    {% else %}
      {% if post.featured_image %}
        {{ ResponsiveImage(post.featured_image, {
          class: 'block size-full bg-gray-background ' ~ (post.crop_featured_image ? 'object-cover' : 'object-contain'),
          sizes: '(min-width: 1024px) 35vw, (min-width: 1408px) 475px, 100vw',
        }) }}
      {% endif %}
    {% endif %}
  </div>
  <div class="span-content lg:col-start-[col-7] lg:col-end-[content-end] lg:mt-5">
    <div class="hidden lg:block">
      <div class="text-tag text-green-dark hidden lg:block">{{ top_category.tag }}</div>
      <h1 class="text-h5 text-blue-dark mt-1 hidden lg:block">{{ heading }}</h1>
    </div>
    <div class="space-y-6.5 mt-6">
      <p class="text-b2 text-blue-dark">{{ overview }}</p>
      {% if bulleted_list %}
        <ul class="list-disc list-inside pl-1 space-y-6.5">
          {% for bullet in bulleted_list %}
            <li class="text-b2 text-blue-dark">{{ bullet.text }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class="text-b1 text-blue-sky">{{ global.product_page.contact_link_subhead }}</p>
      <div class="w-full h-px bg-gray-secondary"></div>
      {% if global.product_page.contact_link %}
        <div class="flex flex-col">
          <a
            x-data="gaLink('product_contact_click')"
            href="{{ global.product_page.contact_link.url }}"
            class="button-primary"
            target="{{ global.product_page.contact_link.target | default('_self') }}"
          >{{ global.product_page.contact_link.title }}</a>
        </div>
      {% endif %}
      {% if links %}
        <div class="grid grid-cols-1 gap-x-fluid-grid-gap gap-y-3">
          {% for item in links %}
            {% set text = '' %}
            {% set url = '' %}
            {% set target = '' %}
            {% set type = item.type %}

            {% if type == 'link' %}
              {% set text = item.link.title %}
              {% set url = item.link.url %}
              {% set target = item.link.target %}
            {% elseif type == 'file' %}
              {% set text = item.file_text %}
              {% set url = item.file %}
            {% endif %}
            <div class="">
              <a
                href="{{ url }}"
                class="inline-flex items-center gap-x-3 px-2.5 text-blue-sky focus-default hover:text-blue-dark"
                {% if type == 'link' %}
                  target="{{ target }}"
                {% endif %}
                {% if type == 'file' %}
                  target="_blank"
                {% endif %}
              >
                <span class="text-tag">{{ text }}</span>
                <div class="size-6 shrink-0">
                  {% if type == 'link' %}
                  {{ include('svgs/link.twig') }}
                  {% elseif type == 'file' %}
                    {{ include('svgs/document.twig') }}
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="hidden lg:block span-content mt-8">
    <div class="w-full h-px bg-gray-secondary"></div>
  </div>
</section>
