<section
  class="
    relative pt-16 pb-32
    {% if background_color == 'blue' %}
      bg-blue-dark text-white
    {% elseif background_color == 'gray' %}
      bg-gray-background text-blue-dark
    {% elseif background_color == 'white' %}
      text-blue-dark
    {% endif %}
  "
>
  {% include "partials/wave.twig" %}
  {% if top_wave %}
    <div class="fluid-grid absolute z-40 -top-50 left-0 w-full overflow-hidden pointer-events-none">
      <div class="span-content relative h-250 pointer-events-none">
        <div
          class="
            hidden lg:block absolute top-24 left-[40%] w-380.5 h-full opacity-10
            {% if background_color == 'blue' %}
              text-blue-sky
            {% else %}
              text-gray-dark
            {% endif %}
          "
        >
          {% include "svgs/logo-icon-wave.twig" %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="fluid-grid relative z-40">
    <h2 class="span-content text-h3">{{ heading }}</h2>
    <div class="span-content grid grid-cols-subgrid gap-y-10 mt-8">
      {% for solution in solutions %}
        <article class="col-span-12 sm:col-span-10 sm:col-start-2 md:col-span-4">
          <a
            href="{{ solution.link }}"
            class="group relative block w-full aspect-[0.84] overflow-hidden transition-[border-radius] hover:rounded-4xl"
          >
            {% if solution.background_image %}
              {{ ResponsiveImage(solution.background_image, {
                class: 'absolute z-10 top-0 left-0 size-full object-cover',
                sizes: '',
              }) }}
            {% endif %}
            <div class="absolute z-10 top-0 left-0 size-full bg-black/30"></div>
            <div class="absolute z-20 top-0 left-0 size-full gradient-adeptag bg-linear-to-r opacity-0 transition-opacity group-hover:opacity-65"></div>
            <div class="relative z-30 h-full flex flex-col justify-between p-4">
              <div class="">
                <div
                  class="tag"
                  aria-hidden
                >{{ solution.tag }}</div>
              </div>
              {% if solution.foreground_image %}
                {{ ResponsiveImage(solution.foreground_image, {
                  class: 'w-full h-48',
                  sizes: '',
                }) }}
              {% endif %}
              <div
                class="bg-white text-black rounded-full size-12 lg:size-14 ml-auto flex justify-center items-center p-4"
                aria-hidden
              >
                {% include "svgs/arrow-right.twig" %}
              </div>
            </div>
          </a>
          <p class="text-b2 mt-4">{{ solution.summary }}</p>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
