<section
  class="
    pb-8 pt-16 lg:pb-16
    {% if background_color == 'gray' %}
      bg-gray-background
    {% endif %}
  "
>
  <div class="fluid-grid gap-y-10">
    <div class="span-content space-y-2.5 text-blue-dark lg:col-start-[content-start] lg:col-end-[col-8]">
      {% if subheading %}
        <div class="text-h5">{{ subheading }}</div>
      {% endif %}
      {% if heading %}
        <h2 class="text-h3">{{ heading }}</h2>
      {% endif %}
    </div>
    <div class="span-content lg:col-start-[col-8] lg:col-end-[content-end]">
      <div class="flex lg:justify-end">
        {% include "partials/link.twig" with {
          title: 'Read All',
          url: '/',
          class: 'button-primary',
        } %}
      </div>
    </div>
    <div class="span-content w-full h-px bg-black"></div>
    {% if blog_posts %}
      <div
        class="
          span-full flex gap-x-5 snap-x pb-8 px-[calc(var(--side-width)+var(--col-gap))] overflow-x-scroll
          lg:grid lg:grid-cols-subgrid lg:p-0 lg:span-content lg:overflow-visible
        "
      >
        {% for post in fn('Timber::get_posts', blog_posts) %}
          <a
            class="
              group block w-4/5 max-w-sm snap-start scroll-mx-[calc(var(--side-width)+var(--col-gap))] shrink-0
              lg:col-span-4 lg:max-w-none lg:w-full
            "
            href="{{ post.link }}"
          >
            <div class="relative w-full bg-gray-background rounded-md overflow-hidden transition-all group-hover:rounded-4xl">
              {{ ResponsiveImage(post.featured_image, {
                class: 'w-full aspect-[0.87] object-cover',
                sizes: '',
              }) }}
              <div class="absolute z-10 top-0 left-0 size-full gradient-adeptag bg-linear-to-r opacity-0 mix-blend-screen pointer-events-none group-hover:opacity-90"></div>
            </div>
            <div class="mt-4.5 space-y-3">
              <div class="flex flex-wrap gap-6">
                <span class="text-tag text-green-dark">Automation</span>
                <span class="text-tag text-blue-dark">{{ post.date }}</span>
              </div>
              <h3 class="text-b1 font-bold text-blue-dark">{{ post.title }}</h3>
              <div class="text-b2 text-blue-dark">{{ post.article_preview }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
