<section class="py-10 lg:py-20 fluid-grid">
  <h2 class="span-content text-h3 text-blue-dark">{{ heading }}</h2>
  <div class="span-content border-t border-t-gray-secondary mt-12">
    {% for line in fn('Timber::get_posts', lines) %}
      <div
        x-data="{
          lineOpen: {{ loop.first ? 'true' : 'false' }},
          activeIndex: 1,
        }"
        class="py-8 border-b border-b-gray-secondary"
      >
        <div class="flex items-center gap-x-10 justify-end">
          <h3 class="text-h5 text-blue-dark mr-auto">{{ line.title }}</h3>
          <a
            href="{{ line.link }}"
            class="button-primary"
          >See System Details</a>
          <button
            @click="lineOpen = !lineOpen"
            class="flex items-center"
          >
            <div
              x-text="lineOpen ? 'Close Line' : 'Open Line'"
              class="sr-only"
            ></div>
            <div class="relative size-9 rounded-full border-2 border-blue-dark shrink-0 ml-auto">
              <div class="absolute top-1/2 left-1/2 -translate-1/2 w-4 h-0.5 bg-blue-dark"></div>
              <div
                :class="lineOpen && 'scale-0'"
                class="absolute top-1/2 left-1/2 -translate-1/2 w-0.5 h-4 bg-blue-dark transition-transform"
              ></div>
            </div>
          </button>
        </div>
        <div
          x-show="lineOpen"
          x-cloak
          x-collapse
          class=""
        >
          <div class="relative py-8 mt-7">
            {% set timber_image = fn('Timber::get_image', line.image) %}
            <div class="px-[calc(var(--side-width)+var(--col-gap))] lg:px-0">
              <div
                class="lg:aspect-auto!"
                style="aspect-ratio: {{ timber_image.width }}/{{ timber_image.height }};"
              >
                {{ ResponsiveImage(line.image, {
                  class: 'relative z-20 size-full max-w-none lg:h-auto px-1 pointer-events-none',
                  sizes: '(min-width: 1020px) 1280px, 1024px',
                }) }}
              </div>
              <div
                x-ref="lineDrawingButtons"
                class="absolute z-10 inset-0 flex gap-x-3 w-full"
              >
                {% for item in line.products %}
                  {% set product = fn('Timber::get_post', item.product) %}
                  <button
                    @click="activeIndex = {{ loop.index }}"
                    :class="activeIndex == {{ loop.index }} && 'bg-[#DEF8BE]!'"
                    data-button-slug="{{ product.slug }}"
                    class="group relative size-full border border-green-lime rounded-xl transition-colors hover:bg-[#DEF8BE]"
                    style="width: {{ item.width }}%;"
                  >
                    <div
                      :class="activeIndex == {{ loop.index }} && 'bg-green-lime/90!'"
                      class="absolute left-1/2 top-[calc(100%-1px)] -translate-1/2 size-9 rounded-full border border-green-lime bg-white flex items-center justify-center transition-colors group-hover:bg-green-lime/90"
                    >{{ loop.index }}</div>
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="mt-8"
          >
            {% for item in line.products %}
              {% set product = fn('Timber::get_post', item.product) %}
              {% if item.product_two %}
                {% set product_two = fn('Timber::get_post', item.product_two) %}
              {% else %}
                {% set product_two = false %}
              {% endif %}

              <div
                x-show="activeIndex == {{ loop.index }}"
                x-cloak
                class="w-full space-y-4"
              >
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-fluid-grid-gap gap-y-4 text-blue-dark border border-blue-dark rounded-xl p-10">
                  <div class="sm:hidden">
                    {{ ResponsiveImage(product.thumbnail, {
                      class: 'w-2/3 mx-auto',
                      sizes: '(min-width: 768px) 30vw, (min-width: 1408px) 389px, 100vw',
                    }) }}
                  </div>
                  <div class="space-y-5">
                    <div class="space-y-2">
                      {% if item.product_subhead %}
                        <div class="text-tag">{{ item.product_subhead }}</div>
                      {% endif %}
                      <h3 class="text-h5">{{ product.title }}</h3>
                    </div>
                    <p class="text-b2 line-clamp-4">{{ product.hero.overview }}</p>
                    <a
                      href="{{ product.link }}"
                      class="button-primary-hollow"
                    >Explore Product</a>
                  </div>
                  <div class="hidden sm:block">
                    {{ ResponsiveImage(product.thumbnail, {
                      class: 'w-2/3 mx-auto',
                      sizes: '(min-width: 640px) 30vw, (min-width: 1408px) 389px, 100vw',
                    }) }}
                  </div>
                </div>
                {% if product_two %}
                  <div class="grid grid-cols-2 gap-x-fluid-grid-gap text-blue-dark border border-blue-dark rounded-xl p-10">
                    <div class="space-y-5">
                      <div class="space-y-2">
                        {% if item.product_two_subhead %}
                          <div class="text-tag">{{ item.product_two_subhead }}</div>
                        {% endif %}
                        <h3 class="text-h5">{{ product_two.title }}</h3>
                      </div>
                      <p class="text-b2 line-clamp-4">{{ product_two.hero.overview }}</p>
                      <a
                        href="{{ product_two.link }}"
                        class="button-primary-hollow"
                      >Explore Product</a>
                    </div>
                    <div class="">
                      {{ ResponsiveImage(product_two.thumbnail, {
                        class: 'w-2/3 mx-auto',
                        sizes: '(min-width: 640px) 30vw, (min-width: 1408px) 389px, 100vw',
                      }) }}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
