<article
  class="
    rounded-4xl py-14 px-9 grid gap-8 grid-cols-2 lg:grid-cols-12
    {% if background_colors == 'blue_white' %}
      bg-white text-blue-dark
    {% elseif background_colors == 'white_gray' %}
      bg-gray-background
    {% elseif background_colors == 'gray_white' %}
      bg-white
    {% endif %}
  "
>
  <div class="col-span-2 lg:col-span-7">
    <h3 class="text-h3">{{ story.meta_company }}</h3>
    <div class="text-subhead mt-4">{{ story.meta_project }}</div>
    <div class="text-b1 mt-1">{{ story.meta_preview }}</div>
  </div>
  <div class="w-full aspect-video col-span-2 lg:col-span-7">
    <div class="size-full rounded-md overflow-hidden">
      {% if story.meta_media_type == 'image' %}
        {{ ResponsiveImage(story.meta_image, {
          class: 'size-full',
          sizes: '(min-width: 1024px) 50vw, (min-width: 1408px) 691px, 85vw',
        }) }}
      {% elseif story.meta_media_type == 'video' %}
        <div
          x-data="successStoriesCarouselVideo({{ loop.index0 }})"
          class=""
        >
          {{ story.meta_video }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-span-2 lg:col-span-5 lg:self-center">
    <div class="grid grid-cols-1 gap-7 xs:grid-cols-2 xl:px-8">
      {% for item in story.meta_featured_facts %}
        <div class="w-full">
          <div
            class="
              border-b border-b-blue-dark pb-3 mb-3
              {% if item.type == 'stat' %}
                text-h5
              {% elseif item.type == 'feature' %}
                text-subhead
              {% endif %}
            "
          >{{ item.heading }}</div>
          <p class="text-b3">{{ item.body }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-span-2 lg:col-span-7">
    {% include "partials/link.twig" with {
      class: 'button-primary',
      url: story.url,
      title: 'Explore Case Study',
    } %}
  </div>
</article>
