<div class="my-8">
  <div class="fluid-grid">
    <div class="span-content">
      <div class="w-full border-t border-t-black pt-8"></div>
    </div>
    <h2 class="span-content text-h5 text-blue-dark">{{ heading }}</h2>
    <div
      class="
        span-full flex gap-x-5 snap-x px-[calc(var(--side-width)+var(--col-gap))] overflow-x-scroll mt-6
        lg:span-content lg:grid lg:grid-cols-subgrid lg:gap-y-8 lg:overflow-visible
      "
    >
      {% for item in links %}
        <a
          href="{{ item.link.url }}"
          target="{{ item.link.target | default('_self') }}"
          class="
            group block w-4/5 max-w-sm snap-start scroll-mx-[calc(var(--side-width)+var(--col-gap))] shrink-0
            lg:col-span-4 lg:max-w-none lg:w-full
          "
        >
          <div class="bg-gray-background overflow-hidden rounded-md border border-transparent transition-all group-hover:rounded-4xl group-hover:border-black">
            {{ ResponsiveImage(item.image, {
              class: 'w-full aspect-square object-contain',
              sizes: '(min-width: 528px) 384px, (min-width: 1024px) 30vw, (min-width: 1408px) 411px, 80vw',
            }) }}
          </div>
          <div class="text-b2 font-bold text-blue-dark mt-6">{{ item.link.title }}</div>
        </a>
      {% endfor %}
    </div>
    <div class="span-content">
      <div class="w-full border-b border-b-black pt-8"></div>
    </div>
  </div>
</div>
