<div
  x-show="showFilters"
  x-cloak
  x-trap.inert.noscroll="showFilters"
  class="fixed z-50 top-0 lg:top-(--wp-admin--admin-bar--height,0px) left-0 w-full h-dvh lg:h-[calc(100dvh-var(--wp-admin--admin-bar--height,0px))] py-6 bg-white overflow-y-auto"
>
  <div class="fluid-grid">
    <div class="span-content">
      <div class="flex justify-between items-center pb-4 border-b border-b-gray-secondary">
        <div class="text-h4 text-blue-dark">Filter</div>
        <button
          @click="showFilters = false"
          class="size-11 bg-gray-background rounded-full p-3.5"
        >
          <div class="sr-only">Close Filters</div>
          {% include "svgs/x.twig" %}
        </button>
      </div>
      <div class="mt-4 space-y-4">
        <div
          x-data="{ open: true }"
          class="border-b border-b-gray-secondary pb-4"
        >
          <button
            @click="open = !open"
            class="flex items-center justify-between w-full"
          >
            <span class="text-b1 font-bold">Categories</span>
            <div
              :class="!open && '-scale-y-100'"
              class="w-3.5 transition-transform"
            >
              {% include "svgs/caret-up.twig" %}
            </div>
          </button>
          <div
            x-show="open"
            x-collapse
            class=""
          >
            <div class="space-y-4">
              {% for category in categories %}
                <div
                  class="
                    flex gap-x-2.5 items-center
                    {% if loop.first %}
                      pt-4
                    {% endif %}
                  "
                >
                  <a
                    href="{{ category.category_page }}"
                    class="text-b2 hover:underline"
                  >{{ category }} ({{ category.count }})</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div
          x-data="{ open: true }"
          class="border-b border-b-gray-secondary pb-4"
        >
          <button
            @click="open = !open"
            class="flex items-center justify-between w-full"
          >
            <span class="text-b1 font-bold">Markets</span>
            <div
              :class="!open && '-scale-y-100'"
              class="w-3.5 transition-transform"
            >
              {% include "svgs/caret-up.twig" %}
            </div>
          </button>
          <fieldset
            x-show="open"
            x-collapse
            class="space-y-4"
          >
            <legend class="sr-only">Choose Markets</legend>
            {% for market in markets %}
              <div
                class="
                  flex gap-x-2.5 items-center
                  {% if loop.first %}
                    pt-4
                  {% endif %}
                "
              >
                <input
                  x-model="selectedMarkets"
                  type="checkbox"
                  id="{{ market|lower }}"
                  name="market"
                  value="{{ market|lower }}"
                  class="cursor-pointer appearance-none checked:bg-blue-hover"
                />
                <label
                  class="text-b2 cursor-pointer"
                  for="{{ market|lower }}"
                >{{ market }}</label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
